<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>some website</title>
</head>
<body>
{{>header}}
<p>{{ScreamIt welcomeMessage}}</p>
{{#if isHome}}
    <h1>WELCOME HOME</h1>
{{/if}}
{{> footer}}
</body>
</html>